<section class="relative h-full bg-black">
  <div id="splash-bg-fallback" class="absolute hidden opacity-40"></div>
  <div class="relative grid h-full place-items-center">
    <h2 class="flex flex-col gap-2 sm:gap-4 sm:self-auto">
      <div
        class="gradient-text animate-fade text-center font-extrabold tracking-tighter text-8xl"
      >
        Hi,
        <br /> I'm Andy Tran
      </div>
    </h2>
  </div>
</section>
